asgiref==3.4.0
Django==3.2.4
gunicorn==20.1.0
packaging==20.9
#Pillow @ file:///Users/alixfachin/Code/NisekoNerds/RecipeTracks/Pillow-8.0.1-cp38-cp38-macosx_11_0_arm64.whl
psycopg2==2.9.1
pyparsing==2.4.7
python-decouple==3.4
pytz==2021.1
sqlparse==0.4.1
