{% extends 'recipeViewer/base.html' %}

{% block body %}
{% load i18n %}

<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
            <li> {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
            <ul>
                {% for error in hidden_field.errors %}
                    <li> {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{hidden_field}}
    {% endfor %}
    
    <div class="row"> <div class="col-mb-5 offset-1">
        <div class="card mb-4">
            <div class="card-header"> {% trans "Password change" %} </div>
            <div class="card-body"> 
                {% for field in form.visible_fields  %}
                    <div class="form-group row">
                        
                        <label for="{{ field.id_for_label }}" class="col col-for-label"> {{ field.label }} </label>
                        
                        <div class="col"> 
                            {{ field }} 
                            
                            {% if field.errors %}
                                <ul>
                                {% for error in field.errors %}
                                    <li> <small class="form-text">{{ error }} </small></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            
                            {% if field.help_text %}
                                {{ field.help_text | safe }}
                            {% endif %}

                        </div>


                    </div>
                
                {%  endfor %}
                
            </div>
            <div class="card-footer">
                <div class="row justify-content-center">
                    <div class="col-3 text-center">
                        <a href="{% url 'recipeViewer:index'  %}" class="btn btn-danger">{% trans "Cancel" %}</a>
                    </div>
                    <div class="col-3 text-center">
                        <button type="submit" class="btn btn-warning">{% trans "Save" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    
    
    
</form>

{% endblock %}